@import 'tailwindcss';

@font-face {
  font-family: 'GeistMono';
  src: url('/fonts/GeistMono-VariableFont_wght.ttf')
    format('truetype-variations');
  /* variable fonts support this: two values specifies a range */
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: GeistMono, sans-serif;
}
