volumes:
  postgresql_data_words:
    driver: local

services:
  postgresql-words:
    restart: unless-stopped
    image: postgres:17.5
    container_name: postgresql-words
    ports:
      - 5432:5432
    volumes:
      - postgresql_data_words:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=username
      - POSTGRES_DB=postgres
